.login-page {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.login-container {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 30px;
    margin: clamp(0px,10vw,200px);
}
.login-container h2 {
    color: white;
}